main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}


.contact-container {
border: 4px solid #F1F1F1;
    display: flex;
    background: white;
    padding: 20px 16px;
    margin: 20px;
    width: 24%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}


.contact-container h2 {
    width: fit-content;
    color: #000000;
    font-size: 28px;
    margin-bottom: 20px;
    position: relative;
}


label {
    width: fit-content;
    display: block;
    margin: 18px 0 8px;
    font-weight: bold;
    color: #444;
}


input,
textarea {
    width: -webkit-fill-available;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}


textarea {
    height: 140px;
    resize: none;
}


button {
    margin: 20px 0px 0px;
    padding: 14px 25px;
    background: black;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: opacity .2s;
}


button:hover {
    opacity: .85;
}