.contact-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.contact-container {
    border: 4px solid #F1F1F1;
    background: white;
    padding: 20px 16px;
    width: 18%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-content {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.contact-container h2 {
    width: fit-content;
    color: #000000;
    font-size: 28px;
    margin: auto;
}

label {
    color: hsla(0, 0%, 0%, 0.7);
}

input,
textarea {
    width: -webkit-fill-available;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: none;
}

@media (max-width: 1358px) {
    .contact-container {
        border: 4px solid #F1F1F1;
        background: white;
        padding: 20px 16px;
        width: 23%;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
}