.home-main {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
}


.btn{
    display: inline-block;
    background-color: black;
    color: white !important;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
    text-align: center;
    margin-top: 10px;
    
}


/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background: white;
    border: 6px solid #F1F1F1;
    border-radius: 16px;
}

.hero-text {
    width: fit-content;
}

.hero-text h1 {
    font-size: 64px;
    margin: 0;
    width: 64%;
}

.hero-text p {
    width: 64%;
    line-height: 1.6;
}

.hero img {
    width: 70%;
    border-radius: 10px;
}

/* Sección productos */
.productos-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 75%;
    margin: auto;
}

.producto {
    background: white;
    border: 2px solid #F1F1F1;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    height: -webkit-fill-available;
    padding-bottom: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.producto img {
    width: 100%;
    height: 65%;
    object-fit: contain;
    background-color: #fff;
}

.info-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.info-producto a {
    margin: 0px;
}

.nombre-producto {
    height: 20px;
    font-weight: bold;
    margin: 0px;
}

.info-producto p {
    margin: auto;
}

/* CONTENEDOR QUE OCUPA TODA LA PANTALLA */
.carrusel-full {
    width: 100%;
    overflow: hidden;
    /* Oculta el desbordamiento */
    background: #ffffff;
    /* El color grisáceo que tienes */
    padding: 40px 0;
}

/* ANIMACIÓN LATERAL */
.carrusel-marcas {
    display: flex;
    align-items: center;
    gap: 80px;
    width: max-content;
    animation: deslizar 20s linear infinite;
}

/* ESTILO DE LOS LOGOS */
.carrusel-marcas img {
    height: 70px;
    display: block;
    filter: grayscale(100%);
    opacity: 0.9;
    transition: 0.3s;
}

.carrusel-marcas img:hover {
    filter: none;
    opacity: 1;
}

/* ANIMACIÓN */
@keyframes deslizar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
        /* Mueve la mitad para hacer loop perfecto */
    }
}

.brands-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands-title {
    color: rgb(0, 0, 0);
    border-bottom: 3px #000000 solid;
    text-align: center;
    width: fit-content;
}

.button-home {
    text-decoration: none;
    padding: 14px 25px;
    background: black;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.button-home:hover {
    opacity: 0.85;
}

/* Responsives */
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        /* Texto arriba, imagen abajo */
        text-align: center;
        gap: 20px;
        padding: 20px;
    }

    .hero-text {
        width: 100%;
        /* Asegura que todo se vea */
    }

    .hero-text .btn {
        margin-top: 20px;
        display: inline-block;
    }

    .hero-text h1 {
        font-size: 36px;
        /* Reduce tamaño del título */
    }

    .hero-text p {
        width: 100%;
        /* Que el texto no quede estrecho */
        font-size: 16px;
    }

    .hero img {
        width: 100%;
        max-width: 350px;
        /* Controla el tamaño en móviles */
        border-radius: 12px;
    }
}