main {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
}

/* CONTENEDOR QUE OCUPA TODA LA PANTALLA */
.carrusel-full {
    width: 100%;
    overflow: hidden;
    /* Oculta el desbordamiento */
    background: #ffffff;
    /* El color grisáceo que tienes */
    padding: 40px 0;
}

/* ANIMACIÓN LATERAL */
.carrusel-marcas {
    display: flex;
    align-items: center;
    gap: 80px;
    width: max-content;
    animation: deslizar 20s linear infinite;
}

/* ESTILO DE LOS LOGOS */
.carrusel-marcas img {
    height: 70px;
    display: block;
    filter: grayscale(100%);
    opacity: 0.9;
    transition: 0.3s;
}

.carrusel-marcas img:hover {
    filter: none;
    opacity: 1;
}

/* ANIMACIÓN */
@keyframes deslizar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
        /* Mueve la mitad para hacer loop perfecto */
    }
}

.brands-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands-title {
    color: rgb(0, 0, 0);
    border-bottom: 4px #000000 solid;
    text-align: center;
    width: fit-content;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    background: white;
    border: 6px solid #F1F1F1;
    border-radius: 16px;
}

.hero-text {
    width: fit-content;
}

.hero-text h1 {
    font-size: 64px;
    margin: 0;
    width: fit-content;
}

.hero-text p {
    width: 70%;
    line-height: 1.6;
}

.hero img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    background: black;
    padding: 12px 22px;
    border-radius: 14px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.85;
}

/* Sección productos */
.productos-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 90%;
    margin: auto;
}

.producto {
    background: white;
    border: 2px solid #F1F1F1;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    height: fit-content;
}

.producto img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    background-color: #fff;
}

.info-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-bottom: 12px;
    gap: 16px;
}

.info-producto a {
    margin: 0px;
}

.info-producto p {
    margin: auto;
}