/* Encabezado */
.top-section {
    background: white;
    border: 3px rgba(0, 0, 0, 0.2) solid;
    border-radius: 5px;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.top-section h1 {
    margin: 0;
}

.top-section p {
    margin: 0;
}

.titulo {
    background: white;
    border: rgba(0, 0, 0, 0.2) solid;
    border-radius: 5px;
    padding: 8px;
}

.titulo h2 {
    margin: 0;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    width: -webkit-fill-available;
    height: fit-content;
}

/* Sección inferior */
.bottom-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* ======== BOTÓN VOLVER ======== */
.volver {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
}

.volver a {
    display: block;
    background: #444;
    color: white !important;
    text-align: center;
    padding: 12px 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
    font-size: 15px;
}

.volver a:hover {
    background: #666;
}

/*informe de dashboar inicio*/
/* ======== DASHBOARD CARDS ======== */
.dashboard-cards {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.card {
    background: white;
    border: 3px rgba(0, 0, 0, 0.2) solid;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 8px;
    align-items: center;
}

.card h3 {
    margin: 0;
    font-size: 26px;
    color: black;
    width: fit-content;
}

.card p {
    margin: 0px;
    width: fit-content;
    font-size: 24px;
    color: black;
    border-bottom: 3px black solid;
}