footer {
    background: #0E1010;
    color: #ffffff;
    font-size: 15px;
}

/* Contenedor principal (2 columnas) */
footer .content {
    flex-wrap: wrap;
    padding: 64px 0px;
    display: flex;
    justify-content: space-evenly;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 6px;
}

footer a {
    text-decoration: none;
    color: #ddd;
}

footer a:hover {
    color: #fff;
}

/* Columna izquierda */
.info-izquierda {
    width: fit-content;
    height: fit-content;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.info-izquierda img {
    padding: 4px 0px;
    width: 132px;
    height: 121px;
}

.descripcion-footer1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Columna derecha */
.info-derecha {
    width: fit-content;
    height: fit-content;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.info-derecha {
    width: fit-content;
    height: fit-content;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.info-derecha h3 {
    font-size: 20px;
}

.titulo-trazo {
    border-bottom: 1px solid #ffffff;
    width: 180px;
}

.medio-contacto {
    gap: 8px;
    display: flex;
    align-items: center;
    padding: 10px 4px;
}

.medio-contacto img {
    width: 24px;
}

footer .content p {
    margin: 0px;
    color: hsla(0, 0%, 100%, 0.8);
}

/* Línea final de copyright */
footer .copy {
    width: auto;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    border-top: 2px solid rgba(255, 255, 255, 0.20);
    padding: 10px;
}