header {
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
    border-bottom: 2px solid #D9D9D9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.header-content {
    align-items: center;
    padding: 0px 25px;
    margin: 0px 25px;
    display: flex;
    justify-content: space-between;
}

.header-centro {
    display: flex;
}

.header-centro img {
    padding: 10px 0px;
    width: 128px;
}

.header-nav ul {
    margin: 0;
    padding: 0;
}

.header-nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.header-nav a {
    margin: 8px;
    padding: 4px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    position: relative;
    transition: color 0.3s;
}

.header-nav a::after {
    font-size: 12px;
    margin-left: 5px;
}

.header-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}

.header-nav a.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}

.nav-other {
    margin: 8px;
    display: flex;
    gap: 20px;
    width: fit-content;
}

.btn-icons {
    border: none;
    background: none;
    padding: 0px;
    margin: 4px;
    display: flex;
}

.btn-icons img {
    width: 40px;
}
