main {
  padding: 32px 12px;
  max-width: 1200px;
  display: flex;
  margin: 0px;
  gap: 20px;
}

main h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

main p {
  margin-bottom: 40px;
  text-align: center;
}

/* Sidebar */
.sidebar {
  display: flex;
  gap: 12px;
  flex-direction: column;
  height: fit-content;
}

.filter-box {
  background: #bcbcc1;
  border-radius: 20px;
  padding: 8px;
}

.filter {
  background: #fff;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: auto;
  width: 216px;
  justify-content: space-between;
  align-items: center;
}

.filter p {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
}

/* Barra de busqueda */
.principal {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.search-bar {
  display: flex;
  background: #fff;
  padding: 8px 12px;
  border-radius: 200px;
  border: 2px solid #808080;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 24px;
  width: 100%;
}

.search-bar img {
  width: 30px;
}

/* PRODUCT GRID */
.product-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  gap: 4px;
  position: relative;
  width: 380px;
  height: 380px;
  background: #ffffff;
  border-style: solid;
  border-color: #F1F1F1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  background-color: #fff;
}

.card-info {
  display: grid;
  gap: 10px;
  padding-left: 16px;
}

.texto-principal {
  display: grid;
  gap: 5px;
}

.card-info h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}

.subtitle {
  color: hsla(0, 0%, 0%, 0.500);
  text-align: left;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}

.price {
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

/* Etiqueta de disponibilidad */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #111;
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 6px;
}

/* Año */
.year {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #777;
  font-size: 14px;
}