main {
  padding: 32px 12px;
  max-width: 100%;
  display: flex;
  margin: 0px;
  gap: 20px;
}

main h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

main p {
  margin-bottom: 40px;
  text-align: center;
}