/* Fuente y fondo general */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: #9e9fa9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title-white {
  color: #ffffff;
  font-style: italic;
}

#txt-white {
  font-weight: bold;
  color: #ffffff;
}

#bold {
  font-weight: bold;
  margin: auto;
}

/* Estilos del checkbox */
input[type="checkbox"] {
  -webkit-appearance: auto;
  appearance: auto;
  border: 2px solid black;
  cursor: pointer;
  accent-color: black;
}

button {
  padding: 14px 25px;
  background: black;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.85;
}

/* ----- BOTÓN Y DROPDOWN DE PERFIL ----- */
.profile-wrapper {
  position: relative;
  display: inline-block;
}

.profile-dropdown {
  border: 4px solid #F1F1F1;
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  padding: 15px 20px;
  width: 180px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 3000;
  animation: fadeIn 0.25s ease-out;
}

.profile-dropdown.hidden {
  display: none;
}

.user-name {
  margin: 0 0 10px;
  font-weight: bold;
  display: flex;
  gap: 4px;
  border-bottom: black solid;
}

.profile-dropdown p {
  font-size: 16px;
  width: fit-content;
}

.dropdown-item {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  gap: 4px;
  width: -webkit-fill-available;
  height: fit-content;
}

.dropdown-item:hover {
  opacity: 0.7;
}


.link {
  cursor: pointer;
  color: #0086FF;
  text-decoration: underline;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  margin-top: 8px;
}

.hidden {
  display: none !important;
}