/* Fuente y fondo general */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #9E9FA9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title-white {
    color: #ffffff;
    font-style: italic;
}

#txt-white {
    font-weight: bold;
    color: #ffffff;
}

/* Botones */
.boton-formacion {
    text-decoration: none;
    background-color: #3638be;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border-bottom: 5px solid #310c75;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-formacion:hover {
    background-color: #191a57;
    transition: transform 0.05s ease;
}

.boton-formacion:active {
    transform: translateY(2px);
}