/* Fuente y fondo general */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #9E9FA9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title-white {
    color: #ffffff;
    font-style: italic;
}

#txt-white {
    font-weight: bold;
    color: #ffffff;
}