/* Fuente y fondo general */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #9E9FA9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title-white {
    color: #ffffff;
    font-style: italic;
}

#txt-white {
    font-weight: bold;
    color: #ffffff;
}

#bold {
    font-weight: bold;
    margin: auto;
}

/* Estilos del checkbox */
input[type="checkbox"] {
    -webkit-appearance: auto;
    /* Mantener apariencia del sistema */
    appearance: auto;
    border: 2px solid black;
    /* Borde negro por defecto */
    cursor: pointer;
    accent-color: black;
    /* Color de la checkmark y fondo al marcar */
}